body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

sr {
    font-size: 14px;
    margin-bottom: 2px;
    color: black;
}

div.welcome {
	height: 100%;
	text-align: center;
}

div.welcome img {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	width: 300px;
}

div.result:hover {
    background-color: #e6e6e6;
}

.carousel {
	height: 600px;
	border-radius: 15px;
}

.carousel-indicators .active {
	background-color: black;
}

.carousel-indicators li {
	background-color: lightgray;
}

.middle {
	position: relative;
	height: 600px;
}

.middle img {
	max-width: 100%;
	max-height: 600px; /*what ever height */
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}




